<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../css/style.css" rel="stylesheet" type="text/css">
    <title>Wybory Prezydenta 2000</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type='text/javascript' src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['geochart']});
        google.charts.setOnLoadCallback(drawRegionsMap);

        function drawRegionsMap() {
            var data = google.visualization.arrayToDataTable([
                ['Województwo', 'Popracie Zwycięzcy', 'Domain'],
                ['Pomorskie', 1, '/pomorskie'],
                ['Zachodniopomorskie', 2, '/zachodniopomorskie'],
                ['Warmińsko-mazurskie', 3, 'warminsko-mazurskie'],
                ['Lubuskie', 4, '/lubuskie'],
                ['Wielkopolskie', 1, '/wielkopolskie'],
                ['Opolskie', 2, '/opolskie'],
                ['Dolnośląskie', 3, '/dolnoslaskie'],
                ['Mazowieckie', 4, '/mazowieckie'],
                ['Śląskie', 1, '/slaskie'],
                ['Małopolskie', 2, '/malopolskie'],
                ['Podkarpackie', 3, '/podkarpackie'],
                ['Podlaskie', 4, '/podlaskie'],
                ['Świętokrzyskie', 1, '/swietokrzyskie'],
                ['Kujawsko-Pomorskie', 2, '/kujawsko-pomorskie'],
                ['Świętokrzyskie', 3, '/swietokrzyskie'],
                ['Lubelskie', 4, '/lubelskie'],
                ['Łódzkie', 2, '/lodzkie']
            ]);
            var view = new google.visualization.DataView(data);
            view.setColumns([0, 1]);

            var options = {
                region: 'PL',
                displayMode: 'regions',
                resolution: 'provinces',
                datalessRegionColor: 'transparent',
                legend: 'none'
            };
            var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

            google.visualization.events.addListener(chart, 'select', function () {
                var selection = chart.getSelection();
                if (selection.length > 0) {
                    window.location.replace('http://localhost:63342/AplikacjeZaliczeniowe1/app/templates' +
                        data.getValue(selection[0].row, 2) + '.html', '_blank');
                }
            });

            chart.draw(view, options);
        }
    </script>
</head>
<body>
<div id="top">
    <h1>Wybory Prezydenta 2000</h1>
</div>
<div id="tresc">
    <div id="wyniki_top">
        <div id="wyniki_top_mapa">
            <div id="regions_div"></div>
        </div>
        <div id="wyniki_top_zbiorcze">
            <div id="wyniki_top_zbiorcze_gora">
                <div>
                    <h4>Zbiorcze statystyki głosowania</h4>
                    <div>
                        <div>
                            <div>Liczba uprawnionych do głosowania</div>
                            <div>{{ uprawnionych }}</div> <!-- todo jinja2 -->
                        </div>
                        <div>
                            <div>Liczba kart ważnych</div>
                            <div>{{ kart_waznych }}</div> <!-- todo jinja2 -->
                        </div>
                        <div>
                            <div>Liczba głosów ważnych</div>
                            <div>{{ glosow_waznych }}</div> <!-- todo jinja2 -->
                        </div>
                        <div>
                            <div>Liczba głosów nieważnych</div>
                            <div>{{ glosow_niewaznych }}</div> <!-- todo jinja2 -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="wyniki_ogolne">
        <h3>Wyniki wyborów</h3>
        <div id="wyniki_ogolne_tabela">
            <table class="wyniki">
                <thead>
                <tr>
                    <th>Lp</th>
                    <th>Imię i nazwisko</th>
                    <th>Liczba oddanych głosów</th>
                    <th>Wynik wyborczy</th>
                </tr>
                </thead>
                <tbody>
                {% for kandydat in kandydaci %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ kandydat['nazwa'] }}</td>
                    <td>{{ kandydat['wynik_ilosc'] }}</td>
                    <td>
                        <table>
                            <tbody>
                            <tr>
                                <td class="notrwd2">
                                    <div>
                                        <div style="width:{{ kandydat['wynik_procent'] }}%;
                                        background-color: {{ kandydat['kolor']}};"></div>
                                    </div>
                                </td>
                                <td>{{ kandydat['wynik_procent'] }}%</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div id="wykres_slupkowy">
        <div id="kontener_wykresu">
            {% for kandydat in kandydaci %}
            <div style="background-color: {{ kandydat['kolor'] }}; width: {{ kandydat['wynik_procent'] }}%"></div>
            {% endfor %}
        </div>
    </div>

    <div id="wyniki_szczegolowe">
        <div id="wyniki_szczegolowe_tabela">
            <table class="wyniki">
                <thead>
                <tr>
                    {% for label in labels %}
                    <th>{{ label }}</th>
                    {% endfor %}
                    <!--<th>Kod</th>-->
                    <!--<th>Nazwa jednostki</th>-->
                    <!--<th>Głosy ważne</th>-->
                    <!--<th>Dariusz Maciej GRABOWSKI</th>-->
                    <!--<th>Piotr IKONOWICZ</th>-->
                    <!--<th>Jarosław KALINOWSKI</th>-->
                    <!--<th>Janusz KORWIN-MIKKE</th>-->
                    <!--<th>Marian KRZAKLEWSKI</th>-->
                    <!--<th>Aleksander KWAŚNIEWSKI</th>-->
                    <!--<th>Andrzej LEPPER</th>-->
                    <!--<th>Jan ŁOPUSZAŃSKI</th>-->
                    <!--<th>Andrzej Marian OLECHOWSKI</th>-->
                    <!--<th>Bogdan PAWŁOWSKI</th>-->
                    <!--<th>Lech WAŁĘSA</th>-->
                    <!--<th>Tadeusz Adam WILECKI</th>-->
                </tr>
                </thead>
                <tbody>
                <tr>
                    {% for wiersz in wyniki %}
                        {% for kolumna in wiersz %}
                            <td>{{ kolumna }}</td>
                        {% endfor %}
                    {% endfor %}
                    <!--<td>1</td> &lt;!&ndash; todo jinja2 &ndash;&gt;-->
                    <!--<td><a href="mazowieckie.html">DOLNOŚLĄSKIE</a></td> &lt;!&ndash; todo jinja2 &ndash;&gt;-->
                    <!--<td>2137</td> &lt;!&ndash; todo jinja2 &ndash;&gt;-->
                    <!--<td>1488</td>-->
                    <!--<td>1488</td>-->
                    <!--<td>1488</td>-->
                    <!--<td>1488</td>-->
                    <!--<td>1488</td>-->
                    <!--<td>1488</td>-->
                    <!--<td>1488</td>-->
                    <!--<td>1488</td>-->
                    <!--<td>1488</td>-->
                    <!--<td>1488</td>-->
                    <!--<td>1488</td>-->
                    <!--<td>1488</td>-->
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>