<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../css/style.css" rel="stylesheet" type="text/css">
    <title>Wybory Prezydenckie 2000</title>
</head>
<body>
<div id="top">
    <h1>Wybory Prezydenta 2000</h1>
</div>
<div id="tresc">
    <div id="wyniki_top">
        <div id="wyniki_top_mapa">
            <!-- TODO wstaw mape-->
            <img src="../img/mim.png" width="200px">
        </div>
        <div id="wyniki_top_zbiorcze">
            <div id="wyniki_top_zbiorcze_gora">
                <div>
                    <h4>Zbiorcze statystyki głosowania</h4>
                    <div>
                        <div>
                            <div>Liczba uprawnionych do głosowania</div>
                            <div>30709281</div> <!-- todo jinja2 -->
                        </div>
                        <div>
                            <div>Liczba kart ważnych</div>
                            <div>16993169</div> <!-- todo jinja2 -->
                        </div>
                        <div>
                            <div>Liczba wysłanych pakietów wyborczych</div>
                            <div>56845</div> <!-- todo jinja2 -->
                        </div>
                        <div>
                            <div>Liczba głosów ważnych</div>
                            <div>16742938</div> <!-- todo jinja2 -->
                        </div>
                        <div>
                            <div>Liczba głosów nieważnych</div>
                            <div>250231</div> <!-- todo jinja2 -->
                        </div>
                    </div>
                </div>
            </div>
            <!--
                            <div id="wyniki_top_zbiorcze_diagram">

                            </div>

            <div id="wyniki_top_zbiorcze_dol">

            </div>
            <div id="wyniki_top_zbiorcze_legenda">

            </div>
            -->
        </div>
    </div>
    <div id="wyniki_ogolne">
        <h3>Wyniki wyborów</h3>
        <div id="wyniki_ogolne_tabela">
            <table class="wyniki">
                <thead>
                <tr role="row">
                    <th>Lp</th>
                    <th>Imię i nazwisko</th>
                    <th>Liczba oddanych głosów</th>
                    <th>Wynik wyborczy</th>
                </tr>
                </thead>
                <tbody>
                <tr role="row">
                    <td>1</td> <!-- todo jinja2 -->
                    <td>Andrzej Dupa</td> <!-- todo jinja2 -->
                    <td>2137</td> <!-- todo jinja2 -->
                    <td>
                        <table>
                            <tbody>
                            <tr>
                                <td class="notrwd2">
                                    <div>
                                        <div style="width:99.70%; background-color:#693485;"></div>
                                        <!-- todo jinja2 -->
                                    </div>
                                </td>
                                <td>99.70%</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <!-- test -->
                <tr role="row">
                    <td>1</td> <!-- todo jinja2 -->
                    <td>Andrzej Dupa</td> <!-- todo jinja2 -->
                    <td>2137</td> <!-- todo jinja2 -->
                    <td>
                        <table>
                            <tbody>
                            <tr>
                                <td class="notrwd2">
                                    <div>
                                        <div style="width:21.37%; background-color:#693485;"></div>
                                        <!-- todo jinja2 -->
                                    </div>
                                </td>
                                <td>21.37%</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr role="row">
                    <td>1</td> <!-- todo jinja2 -->
                    <td>Andrzej Dupa</td> <!-- todo jinja2 -->
                    <td>2137</td> <!-- todo jinja2 -->
                    <td>
                        <table>
                            <tbody>
                            <tr>
                                <td class="notrwd2">
                                    <div>
                                        <div style="width:14.88%; background-color:#693485;"></div>
                                        <!-- todo jinja2 -->
                                    </div>
                                </td>
                                <td>14.88%</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <!-- koniec testu-->
                </tbody>
            </table>
        </div>
    </div>
    <div id="wyniki_szczegolowe">
        <div id="wyniki_szczegolowe_tabela">
            <table class="wyniki">
                <thead>
                <tr role="row">
                    <th>Kod</th>
                    <th>Nazwa jednostki</th>
                    <th>Głosy ważne</th>
                    <th>Dariusz Maciej GRABOWSKI</th>
                    <th>Piotr IKONOWICZ</th>
                    <th>Jarosław KALINOWSKI</th>
                    <th>Janusz KORWIN-MIKKE</th>
                    <th>Marian KRZAKLEWSKI</th>
                    <th>Aleksander KWAŚNIEWSKI</p></th>
                    <th>Andrzej LEPPER</th>
                    <th>Jan ŁOPUSZAŃSKI</th>
                    <th>Andrzej Marian OLECHOWSKI</th>
                    <th>Bogdan PAWŁOWSKI</th>
                    <th>Tadeusz Adam WILECKI</th>
                    <th>ddddd</th>
                </tr>
                </thead>
                <tbody>
                <tr role="row">
                    <td>1</td> <!-- todo jinja2 -->
                    <td>DOLNOŚLĄSKIE</td> <!-- todo jinja2 -->
                    <td>2137</td> <!-- todo jinja2 -->
                    <td>1488</td>
                    <td>1488</td>
                    <td>1488</td>
                    <td>1488</td>
                    <td>1488</td>
                    <td>1488</td>
                    <td>1488</td>
                    <td>1488</td>
                    <td>1488</td>
                    <td>1488</td>
                    <td>1488</td>
                    <td>1488</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>